<div class="container" style="max-width: 600px;">
  <div class="mt-4 mb-4">
    <h1>Add a new Flat</h1>
  </div>

  <div class="bg-light p-4 rounded mb-3">
    <%= render 'form'%>
    <div class="d-flex gap-3 mt-3">
      <%= button_tag "Create Flat", type: "submit", form: @flat.persisted? ? "edit_flat_#{@flat.id}" : "new_flat", class: "btn btn-primary" %>
      <%= link_to "Cancel", flats_path, class: "btn btn-danger" %>
    </div>
  </div>

</div>
